.App {
  /* text-align: center; */
}

.App-header {
  background-color: #32508b;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h1 {
  font-size: 100;
  font-weight: 400;
  color: white;
}

.App-Form {
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #32508b;
}

.block-li-url {
  list-style-type: none;
  padding: 0;
}

.line-url {
  display: flex;
}
